fastapi
uvicorn
motor
pymongo[srv]
python-dotenv
PyJWT
bcrypt
cryptography
python-multipart
email-validator
websockets
twilio
stripe
pydantic
pydantic-settings
httpx
requests
aiofiles
certifi
dnspython
